.lessons-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Adjust minmax for card size */
    gap: 20px; 
    padding: 20px;
    margin-bottom: 50px;
  }

  .lesson-title{
    margin-left: 35px;
  }
  
  .lesson-card {
    background-color: #fff; /* Background color of the cards */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Card shadow */
    border-radius: 8px; /* Rounded corners for card */
    overflow: hidden; /* Ensures the content respects border radius */
    cursor: pointer;
  }
  
  .triallesson-header {
    background-color: #949e00; /* Header background color */
    color: #fff; /* Text color for the header */
    padding: 10px 15px;
    cursor: pointer;
  }
  
  .lesson-body {
    padding: 15px;
    line-height: 1.6; /* Spacing between lines */
    cursor: pointer;
  }
  
  .lesson-body h3 {
    margin-top: 0; /* Removes default margin */
  }
  
  /* Styles for the lesson details */
  .lesson-body p {
    margin: 10px 0; /* Spacing between paragraphs */
  }  

  .tabs {
    display: flex;
    justify-content: start;
    margin-left: 18px;
    margin-bottom: 25px;
    gap: 20px; /* You can adjust the gap size as needed */
    font-size: 20px; 
    cursor: pointer;
    border-bottom: 1px solid #ddd;
  }
  
  .tabs div {
    padding: 10px 5px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
  }
  
  .tabs div:hover {
    border-bottom: 3px solid rgba(0, 158, 102, 0.7); /* Light underline for hover effect */
  }
  
  .tabs div.start {
    color: #009e66; /* Text color for the active tab */
    border-bottom: 3px solid #009e66; /* Solid underline for the active tab */
    padding-bottom: calc(10px - 3px); /* Adjust padding to align text properly */
  }

  .view {
    background-color: #fff;
    color: #949e00; /* Pink color for text */
    border: 1px solid #949e00;
    padding: 10px 10px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
    margin-left: 15px;
  }

  .view:hover {
    background-color: #f6ffe4; /* Light pink background on hover */
  }
  
  .add {
    display: flex;
    align-items: center; 
    justify-content: flex-start;
  }
  