.tutor-cards {
  display: flex;
  flex-direction: column;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin: 16px 0;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tutor-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.tutor-info-wrapper {
  display: flex;
  align-items: center;
}

.tutor-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 16px;
}

.tutor-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.tutor-info h3 {
  margin: 0;
}

.rating {
  display: flex;
  align-items: center;
}

.rating-number {
  margin-left: 8px;
}

.tutor-details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 16px;
}

.tutor-level, .class-duration {
  background-color: #f0f0f0;
  padding: 4px 8px;
  border-radius: 4px;
  margin-bottom: 8px;
  text-align: center;
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.accept, .send-message {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 8px;
}

.send-message {
  background-color: #dc3545;
}

.class-duration {
  font-size: 0.8em;
  color: var(--color-grey-500);
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: bold;
}

.timer {
  color: red;
  font-weight: bold;
}