.trial-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Adjust minmax for card size */
    gap: 20px; /* Space between cards */
  }

  .student-lesson-title{
    margin-left: 35px;
  }
  
  .student-lesson-card {
    background-color: var(--color-grey-0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Card shadow */
    border-radius: 8px; /* Rounded corners for card */
    overflow: hidden; /* Ensures the content respects border radius */
    cursor: pointer;
  }
  
  .triallesson-header {
    background-color: #949e00; /* Header background color */
    color: #fff; /* Text color for the header */
    padding: 10px 15px;
    cursor: pointer;
  }
  
  .student-lesson-body {
    padding: 15px;
    line-height: 1.6; /* Spacing between lines */
    cursor: pointer;
  }
  
  .student-lesson-body h3 {
    margin-top: 0; /* Removes default margin */
  }
  
  /* Styles for the lesson details */
  .student-lesson-body p {
    margin: 10px 0; /* Spacing between paragraphs */
  }  

  .student-view {
    background-color: var(--color-grey-0);
    color: #949e00; /* Pink color for text */
    border: 1px solid #949e00;
    padding: 10px 10px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 12px;
    margin-left: 50px;
  }

  .view:hover {
    background-color: #f6ffe4; /* Light pink background on hover */
  }
  
  .add {
    display: flex;
    align-items: center; 
    justify-content: flex-start;
  }
  